@main("Storage Excharge") {

  <div class="page about">
    <div class="container">
      <h1>About</h1>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultricies, dolor a mattis pellentesque, lorem nisi viverra lectus, a auctor leo velit non nulla. Vestibulum pellentesque adipiscing turpis, malesuada pharetra dolor viverra quis. Quisque sollicitudin mauris nec tellus vehicula, vitae mattis tellus posuere. Nunc accumsan ipsum sed diam sollicitudin sollicitudin. Integer vel elit id metus commodo egestas quis vitae magna. Aenean scelerisque, sem id eleifend commodo, massa magna cursus lorem, et scelerisque ligula massa bibendum tortor. Pellentesque ultrices vulputate arcu, vel sollicitudin libero rhoncus vitae. Aliquam erat volutpat. Mauris tristique, arcu vitae varius egestas, turpis lacus placerat magna, eu luctus mi lacus quis odio.<br>

Nullam eu tincidunt arcu. Vivamus ullamcorper consectetur nulla vitae tempor. Morbi orci diam, dictum vel tincidunt vitae, tempor posuere nibh. Sed suscipit mi sem, et sagittis arcu sodales et. Donec semper metus in purus cursus tempor. Aliquam ut felis risus. Cras leo enim, posuere sit amet odio vel, luctus egestas nunc. Praesent justo sem, posuere quis fermentum quis, bibendum non turpis. Vestibulum iaculis velit arcu, vel semper lectus scelerisque ut. Donec eget tellus diam. Pellentesque eget tempus nisl. Cras ultricies elit in luctus cursus. Nunc sed laoreet eros. Duis vitae sodales augue. Nullam pharetra pulvinar iaculis. Morbi feugiat diam id pellentesque rutrum.

      <h2>Team</h2>
      <div class="row">
        <div class="col-md-4">
          <img class="img-circle face" src="assets/img/michele.jpg"/>
        </div>
        <div class="col-md-8">
          <h2>Michele Esposito</h2>
          <small>Founder, Designer & Engineer</small>
          <p>
Nullam eu tincidunt arcu. Vivamus ullamcorper consectetur nulla vitae tempor. Morbi orci diam, dictum vel tincidunt vitae, tempor posuere nibh. Sed suscipit mi sem, et sagittis arcu sodales et. Donec semper metus in purus cursus tempor. Aliquam ut felis risus. Cras leo enim, posuere sit amet odio vel, luctus egestas nunc. Praesent justo sem, posuere quis fermentum quis, bibendum non turpis. Vestibulum iaculis velit arcu, vel semper lectus scelerisque ut. Donec eget tellus diam. Pellentesque eget tempus nisl. Cras ultricies elit in luctus cursus.
        </p>
        </div>
      </div>
    </div>
  </div>
}
