
@main("Storage Exchange") {
  <div class="index-trade">
    <div class="container text-center">
      <div class="col-lg-6 trade">
        Trade storage with <br>
        university students
      </div>
      <div class="col-lg-6">
        <button type="btn" class="btn btn-block btn-lg btn-flashy" onclick="location.href='/signup';">Sign up</button>
        or <br>
        <button type="btn" class="btn btn-block btn-lg btn-flashy" onclick="location.href='/login';">Log in</button>
      </div>
    </div>
  </div>
}
