@(title: String, javascript: Html = Html(""))(content: Html)
<!DOCTYPE html>
<html lang="en_us">
  @_head(title) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.min.css")">
  }

<body>
  <!-- Navbar ================================================== -->
  <div id="bodyWrap">
    <div class="text-center header">
      <a class="nounderline" href="/"><h1>Storage Exchage</h1></a>
    </div>

  <!-- end navbar -->

    <div class="realBody">
      @content
    </div>
  </div> <!-- end bodyWrap -->

  @_footer()
</body>

<!-- Le Javascript ================================================== -->

@_jsLibraries(javascript)
</html>
