@(user: com.storagexchange.models.User)

@main("Storage Exchange") {
  <div class="index-trade">
    <div class="container">
      <h2>Welcome, @user.name.</h2>
      Check out your <a href="/profile">profile</a> here! <br>
      We promess, there is more content coming soon. <br>
      You can create a new post <a href="/post">here</a>.<br>
      You can see all the existing postings <a href="/postboard">here</a><br>
      Or just your own posts at <a href="/myposts">here</a>.
    </div>
  </div>
}
