@(myConversations : List[List[models.Message]])
@import helper.twitterBootstrap._

@js = {
  <script>
    var messageHtml = '<input type="textfield" class="form-control" id="inputMessage" name="message" value="">';
    var toHtml = '<input type="hidden" class="form-control" id="inputTo" name="toUser" value="">';

    var swapInput = function($el, html) {
      var input = $el.text();
      $el.html(html);
      $el.find("input").attr("value", input);
    };
    var save = function(event) {
     var $well = $(event.target).closest(".well"); 
     $well.find("form").submit();
    }
   $(".edit").click(function(event) {
     var $well = $(event.target).closest(".well"); 
     var id = $well.data("id");
     var to = $well.find(".to");
     var message = $well.find(".message");
     swapInput(to, toHtml)
     swapInput(message, messageHtml)
     var wellHtml = $well.html();
     $well.html("");
     $well.prepend('<form method="POST" action="/message/' + id + '" ></form>');
     $well.find("form").html(wellHtml);

     $well.find(".actions").prepend(
       '<a href="#" class="save"><i class="fa fa-floppy-o"></i></a>');
     $well.find(".edit").remove();
     $well.find(".save").click(save);
    });
   $(".reply").click(function(event) {
     var $well = $(event.target).closest(".well"); 
     var replyId = $well.data("replyid");
     var replyUser = $well.data("replyuser");
     var wellHtml = $well.html();
     $well.html("");
     $well.prepend('<form method="POST" action="/newreply/' + replyId + '/' + replyUser + '" ></form>');
     $well.find("form").submit();
    });
  </script>
}

@views.html.user.main("Storage Exchange", "My Messages", js) {
 <div class="message">
    <div class="container">
        @myConversations.map { conversation =>
          @conversation.map { message =>
          <div class="row well"  data-id="@message.messageID.get">
           <div class="col-md-3">
              <b>From </b><span class="from">@message.fromUser</span><br>         
              <b>To </b><span class="to">@message.toUser</span>
            </div>
            <div class="col-md-7">
              <b>Message</b><br>
              <span class="message">@message.message</span>
            </div>
            <div class="col-md-2 actions">
              <a href="#" class="edit"><i class="fa fa-pencil-square-o"></i></a>
            </div>
          </div>
        }
        <div class="row well" data-replyid="@conversation.last.messageID.get" data-replyuser="@conversation.last.fromUser">
          <div class="actions">
            <a href="#" class="reply" style="text-decoration:none"><button type="btn" class="btn btn-block btn-lg btn-transparent">Reply</button></a>
          </div>
        </div>
      }
      @if(myConversations.isEmpty) {
        <h3>You have no messages</h3>
        <b>Create a new one!</b>
      }
      <button type="btn" class="btn btn-block btn-lg btn-transparent" onclick="location.href='@controllers.routes.MessageBoard.newMessage';">Create new message</button>
    </div>
  </div>
}
