@(title: String, tab: String, javascript: Html = Html(""))(content: Html)
<!DOCTYPE html>
<html lang="en_us">
@views.html._head(title) {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/user/main.min.css")">
}

@makeLinks = {
  @Seq(
    (controllers.routes.Application.index(), "Home"),
    (controllers.routes.PostBoard.myPosts(), "My Posts"),
    (controllers.routes.MessageBoard.myMessages(), "My Messages"),
    (controllers.routes.Dynamic.profile(), "Profile"),
    (controllers.routes.Application.logout(), "Logout")).map { case(link, name) =>
    @if(name == tab) {
    <li class="active"><a href="@link">@name</a></li>
    } else {
    <li><a href="@link">@name</a> </li>
    }
  }
}

<body>
<!-- Navbar ================================================== -->
<div id="bodyWrap">
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
  <div class="text-center header navbar-header">
    <a class="nounderline" href="@controllers.routes.Application.index()"><h1>Storage Exchange</h1></a>
  </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          @makeLinks
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </div>
  <!-- end navbar -->

  <div class="realBody">
    @content
  </div>
</div> <!-- end bodyWrap -->

@views.html._footer()
</body>

<!-- Le Javascript ================================================== -->

@views.html._jsLibraries(javascript)
</html>
