@(myPurchases : List[models.Transaction])
@import helper.twitterBootstrap._
@import java.util.Calendar

@views.html.user.main("Storage Exchange", "My Purchases") {
  <div class="post">
    <div class="container">
      @myPurchases.map { purchase =>
        @if(!purchase.canceled) {
          <div class="row well"  data-id="@purchase.transactionID">
            <div class="col-md-2">
              <b>Storage Size:</b><br>
              <span class="description">@purchase.storageTaken</span> sq/ft
            </div>
            <div class="col-md-2">
              <b>Start Date: </b><span class="area">
              @purchase.startDate.toString.substring(0,10)
              <b>End Date: </b><span class="area">@purchase.endDate.toString.substring(0,10)</span>
              </span>
            </div>
            <div class="col-md-4">
              <b>Seller: </b><span class="area">@purchase.sellerEmail</span>
            </div>
            <div class="col-md-2">
              <span class="area">
                <form method="post" action="@controllers.routes.TransactionLedger.receiveNewRating(purchase.transactionID.get)">
                  <b>Rate Seller: </b>
                  <select id="ratingList" name="score" onchange="rating()">
                    <option>Rate User</option>
                    @for(rating <- 1 until 11) {
                      <option>@rating</option>
                    }
                  </select>
                  <button type="submit" class="btn btn-block">Rate</button>
                </form>
              </span>
            </div>
            <div class="col-md-2">
              @if(purchase.approved) {
                <b>Cancel Transaction...</b>
              } else {
                <b>Approval Pending...</b>
              }
              <a href="@controllers.routes.TransactionLedger.cancelTransactionAsBuyer(purchase.transactionID.get)">
                <button type="submit" class="btn btn-block">Cancel</button>
              </a>
            </div>  
          </div>
        }
      }
      @if(myPurchases.isEmpty) {
        <h3>You have made no purchases</h3>
      }
    </div>
  </div>
}
