@(myPurchases : List[models.Transaction])
@import helper.twitterBootstrap._


@views.html.user.main("Storage Exchange", "My Purchases") {
 <div class="post">
    <div class="container">
        @myPurchases.map { purchase =>
        <div class="row well"  data-id="@purchase.postID">
          <div class="col-md-8">
            <b>Storage Size</b><br>
            <span class="description">@purchase.storageTaken</span>
          </div>
          <div class="col-md-2">
            <b>Seller: </b><span class="area">@purchase.sellerEmail</span> sq/ft
          </div>
          <div class="col-md-2 actions">
            <a href="#" class="edit"><i class="fa fa-pencil-square-o"></i></a>
            <a href="#" class="delete"><i class="fa fa-trash-o"></i></a>
          </div>
        </div>
      }
      @if(myPurchases.isEmpty) {
        <h3>You have made no purchases</h3>
      }
    </div>
  </div>
}
