@(mySales : List[models.Transaction])
@import helper.twitterBootstrap._

@views.html.user.main("Storage Exchange", "My Sales") {
 <div class="post">
    <div class="container">
        @mySales.map { sale =>
        <div class="row well"  data-id="@sale.postID">
          <div class="col-md-8">
            <b>Storage Size</b><br>
            <span class="description">@sale.storageTaken</span>
          </div>
          <div class="col-md-2">
            <b>Buyer: </b><span class="area">@sale.buyerEmail</span> sq/ft
          </div>
          <div class="col-md-2 actions">
            <a href="#" class="edit"><i class="fa fa-pencil-square-o"></i></a>
            <a href="#" class="delete"><i class="fa fa-trash-o"></i></a>
          </div>
        </div>
      }
      @if(mySales.isEmpty) {
        <h3>You have made no purchases</h3>
      }
    </div>
  </div>
}
