@(postLoc : List[(models.Post, models.Location)])
@import helper.twitterBootstrap._

@js = {
  <script>
    var descriptionHtml = '<input type="textfield" class="form-control" id="inputDescription" name="description" value="">';
    var areaHtml = '<input type="textfield" class="form-control" id="inputstorageSize" name="storageSize" value="">';
    $(".delete").click(function(event) {
      var well = $(event.target).closest(".well");
      var id = well.data("id");
      $.ajax({
        url: "/post/" + id,
        type: "DELETE",
      }).done(function(deleted) {
        well.remove();
      });
    });
    var swapInput = function($el, html) {
      console.log("hello");
      var input = $el.text();
      $el.html(html);
      $el.find("input").attr("value", input);
    };
    var save = function(event) {
     var $well = $(event.target).closest(".well"); 
     $well.find("form").submit();
    }
   $(".edit").click(function(event) {
     var $well = $(event.target).closest(".well"); 
     var id = $well.data("id");
     var $loc = $well.find("div.locId");
     var locId = $loc.data("id");
     var description = $well.find(".description");
     var area = $well.find(".area");
     swapInput(description, descriptionHtml)
     swapInput(area, areaHtml);
     var wellHtml = $well.html();
     $well.html("");
     $well.prepend('<form method="POST" action="/post/' + id + '/' + locId + '" ></form>');
     $well.find("form").html(wellHtml);

     $well.find(".actions").prepend(
       '<a href="#" class="save"><i class="fa fa-floppy-o"></i></a>');
     $well.find(".edit").remove();
     $well.find(".save").click(save);
    });
  </script>
}

@views.html.user.main("Storage Exchange", "My Posts", js) {
 <div class="post">
    <div class="container">
        @postLoc.map { postTuple =>
        <div class="row well"  data-id="@postTuple._1.postID.get">
          <div class="col-md-8">
            <b>Description</b><br>
            <span class="description">@postTuple._1.description</span>
          </div>
          <div class="col-md-2">
            <b>Size: </b><span class="area">@postTuple._1.storageSize</span> sq/ft
          </div>
          <div class="locId" data-id="@postTuple._2.id"> 
            <input type="hidden" class="form-control" id="route" name="street" value="@postTuple._2.address"></input>
            <input type="hidden" class="form-control" id="street_number" name="streetNum" value="@postTuple._2.address.split(" ")(0).toInt"></input>
            <input type="hidden" class="form-control" id="locality" name="city" value="@postTuple._2.city"></input> 
            <input type="hidden" class="form-control" id="administrative_area_level_1" name="state" value="@postTuple._2.state"></input> 
            <input type="hidden" class="form-control" id="postal_code" name="zip" value="@postTuple._2.zip"></input>
            <input type="hidden" class="form-control" id="latitude" name="lat" value="@postTuple._2.lat"></input>
            <input type="hidden" class="form-control" id="longitude" name="lng" value="@postTuple._2.lng"></input>
          </div>
          <div class="col-md-2 actions">
            <a href="#" class="edit"><i class="fa fa-pencil-square-o"></i></a>
            <a href="#" class="delete"><i class="fa fa-trash-o"></i></a>
          </div>
        </div>
      }
      @if(postLoc.isEmpty) {
        <h3>You have no posts</h3>
        <b>Create a new one!</b>
      }
      <button type="btn" class="btn btn-block btn-lg btn-transparent" onclick="location.href='@controllers.routes.PostBoard.newPost';">Create new post</button>
    </div>
  </div>
}
