@background: #7fdff9; // ligth blue
@primary: #3C9B55; // dark green
@navBar: @primary + 70;
@headerBar: #2A8FAC; // dark blue
@highContrast: #F5EE74; // yellow/gold
@details: whitesmoke;
@contrast: #e5554d; // red
@formsBackground: #ADD387; // light green
@searchFormBackground: #87D396;
@searchPlaceholderColor: #ddd;
@footer: #29211D; // dark brown
@footerText: rgba(228, 247, 209, 0.57);
