@import "font.less";
@import "_colors.less";
@import "_global.less";

.header {
  top: 10px;
  position: relative;
  h1 {
    letter-spacing: 4px;
    text-shadow: 5px 4px black;
    font-family: forque;
    font-size: 90px;
    color: @headerColor;
  }
}

/**
* Other pages 
*/
@import "index.less";
@import "footer.less";
